@charset "UTF-8";

div#resumo {
    width: 500px; /*Largura do conteúdo do site*/
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 20px 20px 20px 20px;
}

div#avatar-01 {
    float: right;
    width: 500px;
}

h1 {
    text-align: left;
    font-size: 15pt;
}

h2 {
    text-align: left;
    font-size: 15pt;
}

h3 {
    text-align: left;
    font-size: 15pt;
}

p {
    text-align: justify;
    text-indent: 30px;
}

a {
    color: #606060;
    text-decoration: none;    
}

a:hover {
    color: #00A1E0;
    text-decoration: underline;
}